/*C:\Users\12482\Desktop\py_learn\Django2.0_chapter46\mysite_env\mysite\my_notifications\static\my_notifications\my_notifications.css*/
.read {
	color: #bbb;
}

.read a{
	color: #bbb;
}

.notifications {
	margin-top: 1em;
}
