<!-- C:\Users\12482\Desktop\py_learn\Django2.0_chapter46\mysite_env\mysite\templates\blog\blog_detail.html -->
{% extends 'base.html' %}	<!-- extends标签，参数为：引用哪个模板文件。【注意】这个标签没有end -->

{# 页面标题 #}
{% block title %}
	{{ blog.title }}	<!-- {{ blog.title }} -->
{% endblock %}

{% block nav_blog_active %}active{% endblock %}

{% load staticfiles %}
{% load comment_tags %}
{% load likes_tags %}

{% block header_extends %}
	<link rel="stylesheet" type="text/css" href="{% static 'blog/blog.css' %}">
	{% load static %}
	<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
	<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}

{# 页面内容 #}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<h3>{{ blog.title }}</h3>
				<ul class="blog-info-description">
					<li>作者：{{ blog.author }}</li>
					<li>分类：<a href="{% url 'blogs_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a></li>
					<li>发表日期：{{ blog.created_time | date:"Y:m:d G:n:s" }}</li>
					<li>阅读({{ blog.get_read_num }})</li>
					<li>评论({% get_comment_count blog %})</li> <!--标签名get_comment_count，传入的参数为blog-->
				</ul>

				<div class="blog-content">{{ blog.content | safe}}</div>

				<!--博客的点赞功能-->
				<div class="like" onclick="likeChange(this, '{% get_content_type blog %}', {{ blog.pk }})">
					<span class="glyphicon glyphicon-thumbs-up {% get_like_status blog %}"></span><!--点赞图标，可查看Bootstrap文档-->
					<!-- <span class="liked-num">0</span> -->
					<span class="liked-num">{% get_like_count blog %}</span>
					<span>喜欢</span>
				</div>

				<div class="blog-more">
					<p>上一篇：
						{% if previous_blog %}
							<a href="{% url 'blog_detail' previous_blog.pk %}">{{ previous_blog.title }}</a>
						{% else %}
							没有了
						{% endif %}
					</p>
					<p>下一篇：
						{% if next_blog %}
							<a href="{% url 'blog_detail' next_blog.pk %}">{{ next_blog.title }}</a>
						{% else %}
							没有了
						{% endif %}
					</p>
				</div>
			</div>	
		</div>
		<!-- 评论部分 -->
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<!-- <div style="margin-top: 2em;border: 1px dashed;padding: 2em;"> -->
				<div class='comment-area'>
					<h3 class='comment-area-title'>提交评论</h3>
					{% if user.is_authenticated %}
						
						<form id="comment_form" action="{% url 'update_comment' %}" method="POST" style="overflow: hidden">
							<label>{{ user.get_nickname_or_username }} 已登录，欢迎评论~</label>

							<div id="reply_content_container" style="display: none;">
								<p id="reply_title">回复：</p>
								<div id="reply_content"></div>
							</div>

							{% csrf_token %}
							<!-- {{ comment_form }}1）渲染出来的django form -->
							{% get_comment_form blog as comment_form %}<!--as：把得到的值 重命名 起一个别名-->
							{% for field in comment_form %}
								{{ field }}
							{% endfor %}
							<span id="comment_error" class="text-danger pull-left"></span>
							<input type="submit" value="评论" class="btn btn-primary pull-right" style="float: right">
						</form>

							<!-- 2）html编写的 form 
							<div class="form-group">
								<label for="comment_text">{{ user.username }}已登录，欢迎评论~</label>
								<textarea id="comment_text" class="form-control" name="text" rows="4"></textarea><textarea文本域，可多行输入
							</div>
							<input type="hidden" name="object_id" value="{{ blog.pk }}">
							<input type="hidden" name="content_type" value="blog">
							-->

					{% else %}
						您尚未登录，登录之后方可评论
						<!-- 登录需要提交用户名和密码两个信息，提交信息一般可以用form这个html表单，提交方法默认为POST，action指定提交信息的网址 -->
						<a class="btn btn-primary" href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a>
						<span> or </span>
						<a class="btn btn-danger" href="{% url 'register' %}?from={{ request.get_full_path }}">注册</a>
					{% endif %}
				</div>
				<!-- <div style="margin-top: 2em;border: 1px dashed;padding: 2em;"> -->
				<div class='comment-area'>
					<h3 class='comment-area-title'>评论列表</h3>
					<div id="comment_list">
						{% get_comment_list blog as comments %}
						{% for comment in comments %}
							<div id="root_{{ comment.pk }}" class="comment">
								<span>{{ comment.user.get_nickname_or_username }}</span>
								<span>({{ comment.comment_time | date:"Y-m-d H:i:s" }}):</span>

								<!-- {{ comment.text | safe }} -->
								<div id="comment_{{ comment.pk }}">
									{{ comment.text | safe }}
								</div>

								<!--评论的点赞功能-->
								<div class="like" onclick="likeChange(this, '{% get_content_type comment %}', {{ comment.pk }})">
									<span class="glyphicon glyphicon-thumbs-up {% get_like_status comment %}"></span><!--点赞图标，可查看Bootstrap文档-->
									<!-- <span class="liked-num">0</span> -->
									<span class="liked-num">{% get_like_count comment %}</span>
								</div>

								<a href="javascript:reply({{ comment.pk }});">回复</a>
							
								{% for reply in comment.root_comment.all %}
									<div class="reply"> <!--以下内容表示：谁 + 在哪个时间 + 回复的谁 + 回复的内容-->
										<span>{{ reply.user.get_nickname_or_username }}</span>
										<span>({{ reply.comment_time | date:"Y-m-d H:i:s" }})</span>
										<span>回复</span>
										<span>{{ reply.reply_to.get_nickname_or_username }}:</span>

										<!-- {{ reply.text | safe }} -->
										<div id="comment_{{ reply.pk }}">
											{{ reply.text | safe }}
										</div>

										<!--回复的点赞功能-->
										<div class="like" onclick="likeChange(this, '{% get_content_type reply %}', {{ reply.pk }})">
											<span class="glyphicon glyphicon-thumbs-up {% get_like_status reply %}"></span><!--点赞图标，可查看Bootstrap文档-->
											<!-- <span class="liked-num">0</span> -->
											<span class="liked-num">{% get_like_count reply %}</span>
										</div>

										<a href="javascript:reply({{ reply.pk }});">回复</a>

									</div>				
								{% endfor %}
							</div>
						{% empty %}
							<span id="no_comment">暂无评论</span>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>	
	</div>

{% endblock %}

{% block script_extends %}	
	<script type="text/javascript">
		$("#comment_form").submit(function(){ //jquery一个选择器，$代表选中或者找到，#代表id。获取到这个标签或对象后，form有一个submit方法，就是提交的时候会触发的事件
			// 判断是否为空
			$("#comment_error").text(""); //清掉错误信息
			if(CKEDITOR.instances["id_text"].document.getBody().getText().trim()==''){
				$("#comment_error").text("评论内容不能为空");
				return false;	//跳出这个方法，不执行下面的代码
			}	
			//更新数据到textarea
			CKEDITOR.instances['id_text'].updateElement();
			//异步提交。用到ajax，会用到一个字典参数设置
			$.ajax({
				url: "{% url 'update_comment' %}", //url:向哪个链接提交数据（上面的form里面action有写）
				type: 'POST',					//type：提交类型
				data: $(this).serialize(),		//data：提交的数据。可以用jquery序列化表单值的做法。$(this)表示当前这个方法里面的对象，
				cache: false,					//cache：不需要缓存，关闭缓存
				success: function(data){		//提交之后知否成功，成功则执行后面的方法
					console.log(data);
					//判断是否处理成功
					if(data['status']=='SUCCESS'){
						//插入数据
						// var comment_html = '<div>' + data['username'] + '(' + data['comment_time'] + '): ' + data['text'] + '</div>';
						
						if($('#reply_comment_id').val()=='0'){
							//插入评论
							var comment_html = '<div id="root_{0}" class="comment"> \
													<span>{1}</span> \
													<span>({2}):</span> \
													<div id="comment_{0}"> \
														{3} \
													</div> \
													<div class="like" onclick="likeChange(this, \'{4}\', {0})"> \
														<span class="glyphicon glyphicon-thumbs-up"></span>  \
														<span class="liked-num">0</span> \
													</div> \
													<a href="javascript:reply({0});">回复</a> \
												</div>';
							// format 替换
							comment_html = comment_html.format(data['pk'], data['username'], timeFormat(data['comment_time']), data['text'], data['content_type']);

							$("#comment_list").prepend(comment_html);
						}else{
							//插入回复
							var reply_html = '<div class="reply"> \
										<span>{1}</span> \
										<span>({2})</span> \
										<span>回复</span> \
										<span>{3}:</span> \
										<div id="comment_{0}"> \
											{4} \
										</div> \
										<div class="like" onclick="likeChange(this, \'{5}\', {0})"> \
											<span class="glyphicon glyphicon-thumbs-up"></span>  \
											<span class="liked-num">0</span> \
										</div> \
										<a href="javascript:reply({0});">回复</a> \
									</div>';
							// format 替换
							reply_html = reply_html.format(data['pk'], data['username'], timeFormat(data['comment_time']), data['reply_to'], data['text'], data['content_type']);
							$("#root_" + data['root_pk']).append(reply_html);
						}
						
						//清空编辑框的内容
						CKEDITOR.instances['id_text'].setData('');//$('#id_text').val('');也是可以的
						$('#reply_content_container').hide();	//隐藏
						$('#reply_comment_id').val('0'); //重置value值为0
						$("#no_comment").remove(); //刚开始的“暂无评论”移除掉
						//显示评论成功信息
						$("#comment_error").text('评论成功');
					}else{
						//显示错误信息
						$("#comment_error").text(data['message']);
					}
					
				},
				error: function(xhr){			//当请求发生异常，则执行后面的方法，xhr是jquery定义好的对象
					console.log(xhr);
				}
			});
			return false;	//阻止提交操作
		});

		function reply(reply_comment_id){ 
			//设置值
			//这个id标签reply_comment_id,就是forms里和views.py里对应的 回复的评论对应的主键值reply_comment_id
			$('#reply_comment_id').val(reply_comment_id);	//.val方法里面是参数值是函数传进来的参数值。作用是改变这个标签值
			var html = $("#comment_" + reply_comment_id).html();
			$('#reply_content').html(html);
			$('#reply_content_container').show();

			$('html').animate({scrollTop: $('#comment_form').offset().top - 60}, 300, function(){
				CKEDITOR.instances['id_text'].focus();
			}); //基于整个Hhtml页面来说的，animate方法，参数scrollTop指定滚动到哪个位置，偏移设置为60，时间设置为300秒.
			//当动画执行完毕，执行function,focus焦点
		}
		function numFormat(num){	//比如，1点转化为01
			return ('00' + num).substr(-2); //substr(-2) 截取最后两位字符
		}
		function timeFormat(timestamp){	//转换时间戳
			var datetime = new Date(timestamp*1000);
			var year = datetime.getFullYear();
			var month = numFormat(datetime.getMonth() + 1);
			var day = numFormat(datetime.getDate());
			var hour = numFormat(datetime.getHours());
			var minute = numFormat(datetime.getMinutes());
			var second = numFormat(datetime.getSeconds());
			return year + '-' + month + '-' + day + ' ' + hour + ':' + minute + ':' + second;
		}
		function likeChange(obj, content_type, object_id){
			var is_like = obj.getElementsByClassName('active').length == 0	//查找有没有active这个class名称.如果没有，则表示没有点赞（即可被点暂）
			$.ajax({
				url: "{% url 'like_change' %}",
				type: 'GET',
				data: {
					content_type: content_type,
					object_id: object_id,
					is_like: is_like
				},
				cache: false,
				success: function(data){
					console.log(data)
					if(data['status']=='SUCCESS'){
						//更新点赞状态
						var element = $(obj.getElementsByClassName('glyphicon'));
						if(is_like){
							element.addClass('active');
						}else{
							element.removeClass('active');
						}
						//更新点赞数量
						var liked_num = $(obj.getElementsByClassName('liked-num'));
						liked_num.text(data['liked_num']);
					}else{
						if(data['code']==400){
							$('#login_modal').modal('show');
						}else{
							alert(data['message']);			
						}
					}
				},
				error: function(xhr){
					console.log(xhr)
				}
			});
		}
		String.prototype.format = function(){ //字符串有String这个类，设置prototype这个属性，给它添加format这个方法
			var str = this;
			for (var i = 0; i < arguments.length; i++) { //获取 替换
				var str = str.replace(new RegExp('\\{' + i + '\\}', 'g'),arguments[i]) //RegExp:正则表达式多处全部替换,'g'代表全局
			};
			return str;
		}
		
		if (window.location.hash) {
			$('html').animate({
				scrollTop: $('#comment_form').offset().top - 60
			},500); 
		}

	</script>
{% endblock %}


